[req]
prompt 					= no
distinguished_name				= ca_dn

[ca_dn]
commonName					= CPOSubCA1
organizationName				= EDF
countryName					= FR
domainComponent				= V2G

[ext]
basicConstraints				= critical,CA:true,pathlen:1
keyUsage					= critical,digitalSignature,nonRepudiation,keyEncipherment,keyAgreement,keyCertSign,cRLSign
subjectKeyIdentifier				= hash

