[req]
prompt 					= no
distinguished_name				= ca_dn

[ca_dn]
commonName					= SECCCert
organizationName				= EDF
countryName					= FR
domainComponent				= CPO

[ext]
basicConstraints				= critical,CA:false
keyUsage					= critical,digitalSignature,nonRepudiation,keyEncipherment,keyAgreement,keyCertSign
subjectKeyIdentifier				= hash

